# **Aplicação dos Dados: Recomendação**

## **Definindo Bibliotecas**

In [308]:
import numpy as np
import pandas as pd
import os
import sys

## **Definindo Rotas**

In [309]:
# Ver o diretório atual
diretorio = os.getcwd()
diretorio = os.path.abspath(r"../") # retornar um diretório
diretorio

'g:\\Meu Drive\\TG'

## **Pré-Processamento: Agrupamento**

In [310]:
dataset = pd.read_csv(diretorio + "\\Dados\\Dataset_Compras_Cursos_Tratado.csv", sep = ",", encoding = "UTF-8", index_col= 0)

In [311]:
dataset

,email_participante,cargo_participante,setor_participante,departamento_participante,gender,cidade_cliente,produto,nome_tipo_produto,idade_participante,unidade_negocio,data_venda,preco_unitario,quantidade_itens_nessa_venda,id_venda,valor_total_venda,unidade_negocio_1,estado_comprador
0,a14kc2n0qxfcr9f+tyfcfivadaljztrslcc0ghvqfw4,president,technology,administrative,MALE,São Paulo,agrotech-0917,Agrotech Conference,39.0,Eventos e Conferências,2017-09-15 20:04:31+00:00,89000.0,1.0,8406.0,80100.0,Eventos e Conferências,SP
1,osk2ekzljvevahhtsrm++v/n4swcesobdzhadhyyywu,manager,financial,product,MALE,Três de Maio,Fintouch-0817,Fintech Conference,39.0,Eventos e Conferências,2017-08-01 23:13:39+00:00,99000.0,2.0,6161.0,99000.0,Eventos e Conferências,RS
2,xboub/wtdilb9ezppwz9skkjm8t5h/7vskj1cmu2b8e,owner,legal,juridic,FEMALE,Brasília,investclass-0118,Invest Class,39.0,Eventos e Conferências,2017-12-29 14:16:22+00:00,89000.0,2.0,12865.0,133642.0,Eventos e Conferências,DF
3,iigdi/wy3uh8jcivnxczpbf2mmtctuq6rd+y4a2jofm,manager,food_drink,dataScience,MALE,São Paulo,varejotech-conference-0818,VarejoTech Conference,40.0,Eventos e Conferências,2018-08-15 14:17:12+00:00,99000.0,1.0,29879.0,0.0,Eventos e Conferências,SP
4,nqicdmjkjj/bo7w5htn1kyjbkshppiehsqyu7jb31qy,analyst,others,humanResources,FEMALE,São Paulo,sv-conference-0918,Silicon Valley Conference,27.0,Eventos e Conferências,2018-07-05 17:36:36+00:00,239400.0,6.0,27066.0,224677.0,Eventos e Conferências,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102705,ljjybt5qhxuflmae9yltgh64xhebh8qlcgviodk+a5a,owner,others,management,MALE,Rio Claro,startseprime,StartSe Prime,49.0,Programas Online,2020-06-03 16:21:55+00:00,17880.0,1.0,84961.0,17880.0,Programas Online,SP
102706,xpm7du3rh96b9fj+qmbtqbxzd5of59abrfquhok1vh4,president,pro_services,management,MALE,Santos,sociedade-e-cultura-for-business-ed9a21,Partnership & Cultura,39.0,Programas Online,2021-09-02 21:38:44+00:00,450000.0,1.0,101701.0,382500.0,Programas Online,SP
102707,6kdidjxf9yyx/pxjsivgczrbr+ubp90pbbyhs1tbjt8,director,technology,seller,MALE,São Bernardo do Campo,xba-ed14a21,XBA,41.0,Programas Online,2021-09-30 09:43:23+00:00,990000.0,1.0,102703.0,693000.0,Programas Online,SP
102708,6kdidjxf9yyx/pxjsivgczrbr+ubp90pbbyhs1tbjt8,director,technology,seller,MALE,São Bernardo do Campo,cmo-program-ed1a22,CMO Xponential Program,42.0,Programas Online,2022-02-06 00:40:54+00:00,850000.0,1.0,106885.0,595000.0,Programas Online,SP
102709,n4ameadtibf579egqqxgdexl8c0rzdejgzluiaicome,manager,technology,management,MALE,Joinville,gestao-inovadora-para-rhs-ed22a22_blackfriday,Gestão Inovadora para RHs,39.0,Programas Online,2022-11-25 14:48:44+00:00,320000.0,1.0,137167.0,64000.0,Programas Online,SC

In [312]:
dataset.dtypes

email_participante               object
cargo_participante               object
setor_participante               object
departamento_participante        object
gender                           object
cidade_cliente                   object
produto                          object
nome_tipo_produto                object
idade_participante              float64
unidade_negocio                  object
data_venda                       object
preco_unitario                  float64
quantidade_itens_nessa_venda    float64
id_venda                        float64
valor_total_venda               float64
unidade_negocio_1                object
estado_comprador                 object
dtype: object

### **Codificação das Variáveis Categóricas**

In [313]:
from sklearn.preprocessing import LabelEncoder

In [314]:
dataset.head()

,email_participante,cargo_participante,setor_participante,departamento_participante,gender,cidade_cliente,produto,nome_tipo_produto,idade_participante,unidade_negocio,data_venda,preco_unitario,quantidade_itens_nessa_venda,id_venda,valor_total_venda,unidade_negocio_1,estado_comprador
0,a14kc2n0qxfcr9f+tyfcfivadaljztrslcc0ghvqfw4,president,technology,administrative,MALE,São Paulo,agrotech-0917,Agrotech Conference,39.0,Eventos e Conferências,2017-09-15 20:04:31+00:00,89000.0,1.0,8406.0,80100.0,Eventos e Conferências,SP
1,osk2ekzljvevahhtsrm++v/n4swcesobdzhadhyyywu,manager,financial,product,MALE,Três de Maio,Fintouch-0817,Fintech Conference,39.0,Eventos e Conferências,2017-08-01 23:13:39+00:00,99000.0,2.0,6161.0,99000.0,Eventos e Conferências,RS
2,xboub/wtdilb9ezppwz9skkjm8t5h/7vskj1cmu2b8e,owner,legal,juridic,FEMALE,Brasília,investclass-0118,Invest Class,39.0,Eventos e Conferências,2017-12-29 14:16:22+00:00,89000.0,2.0,12865.0,133642.0,Eventos e Conferências,DF
3,iigdi/wy3uh8jcivnxczpbf2mmtctuq6rd+y4a2jofm,manager,food_drink,dataScience,MALE,São Paulo,varejotech-conference-0818,VarejoTech Conference,40.0,Eventos e Conferências,2018-08-15 14:17:12+00:00,99000.0,1.0,29879.0,0.0,Eventos e Conferências,SP
4,nqicdmjkjj/bo7w5htn1kyjbkshppiehsqyu7jb31qy,analyst,others,humanResources,FEMALE,São Paulo,sv-conference-0918,Silicon Valley Conference,27.0,Eventos e Conferências,2018-07-05 17:36:36+00:00,239400.0,6.0,27066.0,224677.0,Eventos e Conferências,SP

In [315]:
columns_cat = list(dataset.select_dtypes(include=['object']).columns)
columns_cat

['email_participante',
 'cargo_participante',
 'setor_participante',
 'departamento_participante',
 'gender',
 'cidade_cliente',
 'produto',
 'nome_tipo_produto',
 'unidade_negocio',
 'data_venda',
 'unidade_negocio_1',
 'estado_comprador']

In [316]:
le = LabelEncoder()

In [317]:
le_mapping = {}

In [318]:
for col in columns_cat:
    dataset[col] = le.fit_transform(dataset[col])  # Aplicar a transformação
    le_mapping[col] = dict(zip(le.classes_, le.transform(le.classes_)))

In [319]:
# reverter o ganho
"""for col, mapping in le_mapping.items():
    inv_mapping = {v: k for k, v in mapping.items()}
    dataset[col] = dataset[col].map(inv_mapping)"""

'for col, mapping in le_mapping.items():\n    inv_mapping = {v: k for k, v in mapping.items()}\n    dataset[col] = dataset[col].map(inv_mapping)'

In [320]:
dataset

,email_participante,cargo_participante,setor_participante,departamento_participante,gender,cidade_cliente,produto,nome_tipo_produto,idade_participante,unidade_negocio,data_venda,preco_unitario,quantidade_itens_nessa_venda,id_venda,valor_total_venda,unidade_negocio_1,estado_comprador
0,14955,12,35,2,1,892,33,6,39.0,2,3545,89000.0,1.0,8406.0,80100.0,2,38
1,52376,9,16,25,1,946,2,49,39.0,2,2377,99000.0,2.0,6161.0,99000.0,2,32
2,73710,11,22,15,0,129,328,78,39.0,2,5578,89000.0,2.0,12865.0,133642.0,2,6
3,36205,9,17,8,1,892,748,165,40.0,2,15435,99000.0,1.0,29879.0,0.0,2,38
4,49696,0,29,13,0,892,725,147,27.0,2,13585,239400.0,6.0,27066.0,224677.0,2,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102705,44057,11,29,17,1,733,713,152,49.0,7,44856,17880.0,1.0,84961.0,17880.0,7,38
102706,74816,12,31,17,1,806,707,129,39.0,7,52204,450000.0,1.0,101701.0,382500.0,7,38
102707,10473,4,35,28,1,845,782,171,41.0,7,52653,990000.0,1.0,102703.0,693000.0,7,38
102708,10473,4,35,28,1,845,67,15,42.0,7,54789,850000.0,1.0,106885.0,595000.0,7,38
102709,48212,9,35,17,1,475,259,60,39.0,7,70098,320000.0,1.0,137167.0,64000.0,7,36

### **Excluir identificação de venda e data**

In [321]:
dataset_2 = dataset.loc[:, ~dataset.columns.isin(['id_venda', 'data_venda'])]

In [322]:
dataset_2

,email_participante,cargo_participante,setor_participante,departamento_participante,gender,cidade_cliente,produto,nome_tipo_produto,idade_participante,unidade_negocio,preco_unitario,quantidade_itens_nessa_venda,valor_total_venda,unidade_negocio_1,estado_comprador
0,14955,12,35,2,1,892,33,6,39.0,2,89000.0,1.0,80100.0,2,38
1,52376,9,16,25,1,946,2,49,39.0,2,99000.0,2.0,99000.0,2,32
2,73710,11,22,15,0,129,328,78,39.0,2,89000.0,2.0,133642.0,2,6
3,36205,9,17,8,1,892,748,165,40.0,2,99000.0,1.0,0.0,2,38
4,49696,0,29,13,0,892,725,147,27.0,2,239400.0,6.0,224677.0,2,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102705,44057,11,29,17,1,733,713,152,49.0,7,17880.0,1.0,17880.0,7,38
102706,74816,12,31,17,1,806,707,129,39.0,7,450000.0,1.0,382500.0,7,38
102707,10473,4,35,28,1,845,782,171,41.0,7,990000.0,1.0,693000.0,7,38
102708,10473,4,35,28,1,845,67,15,42.0,7,850000.0,1.0,595000.0,7,38
102709,48212,9,35,17,1,475,259,60,39.0,7,320000.0,1.0,64000.0,7,36

### **Escalonamento Variáveis Numéricas**

In [323]:
dataset_2.dtypes

email_participante                int32
cargo_participante                int32
setor_participante                int32
departamento_participante         int32
gender                            int32
cidade_cliente                    int32
produto                           int32
nome_tipo_produto                 int32
idade_participante              float64
unidade_negocio                   int32
preco_unitario                  float64
quantidade_itens_nessa_venda    float64
valor_total_venda               float64
unidade_negocio_1                 int32
estado_comprador                  int32
dtype: object

In [324]:
columns_num = list(dataset_2.select_dtypes(include=['float64']).columns)
columns_num

['idade_participante',
 'preco_unitario',
 'quantidade_itens_nessa_venda',
 'valor_total_venda']

In [325]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [326]:
dataset_2[['preco_unitario', 'valor_total_venda']] = scaler.fit_transform(dataset_2[['preco_unitario', 'valor_total_venda']])

C:\Users\40026\AppData\Local\Temp\ipykernel_4032\2428896924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_2[['preco_unitario', 'valor_total_venda']] = scaler.fit_transform(dataset_2[['preco_unitario', 'valor_total_venda']])

In [327]:
dataset_2

,email_participante,cargo_participante,setor_participante,departamento_participante,gender,cidade_cliente,produto,nome_tipo_produto,idade_participante,unidade_negocio,preco_unitario,quantidade_itens_nessa_venda,valor_total_venda,unidade_negocio_1,estado_comprador
0,14955,12,35,2,1,892,33,6,39.0,2,-0.215047,1.0,-0.209223,2,38
1,52376,9,16,25,1,946,2,49,39.0,2,-0.209625,2.0,-0.198555,2,32
2,73710,11,22,15,0,129,328,78,39.0,2,-0.215047,2.0,-0.179003,2,6
3,36205,9,17,8,1,892,748,165,40.0,2,-0.209625,1.0,-0.254432,2,38
4,49696,0,29,13,0,892,725,147,27.0,2,-0.133494,6.0,-0.127621,2,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102705,44057,11,29,17,1,733,713,152,49.0,7,-0.253612,1.0,-0.244340,7,38
102706,74816,12,31,17,1,806,707,129,39.0,7,-0.019298,1.0,-0.038544,7,38
102707,10473,4,35,28,1,845,782,171,41.0,7,0.273513,1.0,0.136707,7,38
102708,10473,4,35,28,1,845,67,15,42.0,7,0.197599,1.0,0.081394,7,38
102709,48212,9,35,17,1,475,259,60,39.0,7,-0.089789,1.0,-0.218310,7,36

### **K-means**

In [328]:
import umap.umap_ as umap

In [329]:
dados_agru = np.array(dataset_2)

In [330]:
reducer_2 = umap.UMAP(n_components=2)
dados_agru_two_dim  = reducer_2.fit_transform(dados_agru)

In [331]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 4, init = 'k-means++', random_state = 5, max_iter = 300)

In [332]:
kmeans2 = kmeans.fit(dados_agru_two_dim)

In [333]:
kmeans2

KMeans(n_clusters=4, random_state=5)

In [ ]:
# Retorna a quantidade de grupos identificados
np.unique(classif_2, return_counts = True)

In [334]:
# Coordenadas dos Centróides
centroides = kmeans2.cluster_centers_
centroides

array([[ 6.5649176, 15.780068 ],
       [ 8.1812935, -5.595791 ],
       [15.712308 ,  6.5902386],
       [ 0.4464903,  4.50226  ]], dtype=float32)

In [335]:
client_agru = kmeans2.labels_
client_agru

array([3, 2, 1, ..., 3, 3, 2])

## **Pré-Processamento: Associação**

In [336]:
dataset.columns

Index(['email_participante', 'cargo_participante', 'setor_participante',
       'departamento_participante', 'gender', 'cidade_cliente', 'produto',
       'nome_tipo_produto', 'idade_participante', 'unidade_negocio',
       'data_venda', 'preco_unitario', 'quantidade_itens_nessa_venda',
       'id_venda', 'valor_total_venda', 'unidade_negocio_1',
       'estado_comprador'],
      dtype='object')

### **Colocar Produtos em Colunas**

In [337]:
 # 1 quem comprou 
# 0 quem não comprou
# unstack(): transformação em DataFrame
transactions = dataset.groupby(['email_participante', 'produto'])['produto'].count().unstack().fillna(0).applymap(
    lambda x: 1 if x > 0 else 0)
transactions

produto,0,1,2,3,4,5,6,7,8,9,...,804,805,806,807,808,809,810,811,812,813
email_participante,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80677,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [338]:
transactions.columns[transactions.eq(1).any()]

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            804, 805, 806, 807, 808, 809, 810, 811, 812, 813],
           dtype='int64', name='produto', length=814)

### **Apriori**

In [339]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [340]:
frequent_productsets = apriori(transactions, min_support=0.001, use_colnames=True)

c:\Users\40026\Anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [341]:
# Criando as regras de associação
regras = association_rules(frequent_productsets, metric="lift")

In [342]:
product_frequency = dataset['produto'].value_counts().reset_index()
product_frequency.columns = ['produto', 'frequencia_compra']
product_name_mapping = {idx: product for idx, product in enumerate(product_frequency['produto'])}
product_name_mapping

{0: 713,
 1: 610,
 2: 346,
 3: 640,
 4: 209,
 5: 645,
 6: 726,
 7: 114,
 8: 345,
 9: 725,
 10: 722,
 11: 71,
 12: 222,
 13: 77,
 14: 110,
 15: 117,
 16: 748,
 17: 601,
 18: 309,
 19: 747,
 20: 137,
 21: 674,
 22: 47,
 23: 406,
 24: 120,
 25: 101,
 26: 305,
 27: 70,
 28: 291,
 29: 310,
 30: 410,
 31: 31,
 32: 561,
 33: 348,
 34: 126,
 35: 63,
 36: 354,
 37: 32,
 38: 294,
 39: 100,
 40: 347,
 41: 673,
 42: 51,
 43: 2,
 44: 0,
 45: 73,
 46: 210,
 47: 602,
 48: 33,
 49: 290,
 50: 600,
 51: 634,
 52: 121,
 53: 606,
 54: 613,
 55: 293,
 56: 276,
 57: 750,
 58: 50,
 59: 405,
 60: 783,
 61: 766,
 62: 790,
 63: 603,
 64: 15,
 65: 25,
 66: 636,
 67: 782,
 68: 394,
 69: 789,
 70: 791,
 71: 716,
 72: 214,
 73: 787,
 74: 633,
 75: 26,
 76: 402,
 77: 30,
 78: 19,
 79: 784,
 80: 796,
 81: 781,
 82: 793,
 83: 86,
 84: 385,
 85: 764,
 86: 221,
 87: 801,
 88: 780,
 89: 779,
 90: 798,
 91: 85,
 92: 762,
 93: 802,
 94: 44,
 95: 785,
 96: 799,
 97: 284,
 98: 804,
 99: 67,
 100: 707,
 101: 786,
 102: 258,
 103: 767,
 104: 800,
 105: 803,
 106: 563,
 107: 778,
 108: 279,
 109: 281,
 110: 349,
 111: 146,
 112: 28,
 113: 792,
 114: 16,
 115: 212,
 116: 393,
 117: 57,
 118: 387,
 119: 141,
 120: 391,
 121: 62,
 122: 746,
 123: 805,
 124: 605,
 125: 699,
 126: 68,
 127: 35,
 128: 763,
 129: 213,
 130: 283,
 131: 788,
 132: 17,
 133: 261,
 134: 299,
 135: 400,
 136: 217,
 137: 118,
 138: 386,
 139: 112,
 140: 765,
 141: 115,
 142: 20,
 143: 676,
 144: 709,
 145: 280,
 146: 69,
 147: 389,
 148: 282,
 149: 14,
 150: 351,
 151: 359,
 152: 593,
 153: 303,
 154: 23,
 155: 295,
 156: 363,
 157: 695,
 158: 328,
 159: 655,
 160: 378,
 161: 684,
 162: 675,
 163: 770,
 164: 653,
 165: 730,
 166: 357,
 167: 650,
 168: 300,
 169: 22,
 170: 143,
 171: 358,
 172: 286,
 173: 81,
 174: 360,
 175: 202,
 176: 93,
 177: 269,
 178: 337,
 179: 324,
 180: 253,
 181: 578,
 182: 692,
 183: 61,
 184: 223,
 185: 401,
 186: 731,
 187: 693,
 188: 278,
 189: 254,
 190: 806,
 191: 415,
 192: 24,
 193: 270,
 194: 267,
 195: 597,
 196: 377,
 197: 364,
 198: 652,
 199: 412,
 200: 711,
 201: 649,
 202: 646,
 203: 735,
 204: 689,
 205: 361,
 206: 414,
 207: 362,
 208: 263,
 209: 390,
 210: 144,
 211: 584,
 212: 268,
 213: 740,
 214: 411,
 215: 259,
 216: 266,
 217: 128,
 218: 76,
 219: 392,
 220: 582,
 221: 296,
 222: 705,
 223: 568,
 224: 736,
 225: 703,
 226: 641,
 227: 413,
 228: 627,
 229: 249,
 230: 681,
 231: 232,
 232: 398,
 233: 732,
 234: 710,
 235: 615,
 236: 271,
 237: 628,
 238: 43,
 239: 583,
 240: 42,
 241: 21,
 242: 369,
 243: 205,
 244: 527,
 245: 37,
 246: 233,
 247: 755,
 248: 772,
 249: 308,
 250: 302,
 251: 700,
 252: 331,
 253: 55,
 254: 95,
 255: 565,
 256: 138,
 257: 569,
 258: 332,
 259: 242,
 260: 323,
 261: 329,
 262: 706,
 263: 678,
 264: 608,
 265: 207,
 266: 570,
 267: 277,
 268: 775,
 269: 729,
 270: 36,
 271: 289,
 272: 203,
 273: 189,
 274: 199,
 275: 797,
 276: 265,
 277: 172,
 278: 371,
 279: 630,
 280: 174,
 281: 579,
 282: 769,
 283: 654,
 284: 46,
 285: 704,
 286: 38,
 287: 58,
 288: 142,
 289: 288,
 290: 702,
 291: 773,
 292: 382,
 293: 403,
 294: 694,
 295: 272,
 296: 622,
 297: 88,
 298: 327,
 299: 304,
 300: 204,
 301: 617,
 302: 384,
 303: 325,
 304: 671,
 305: 616,
 306: 40,
 307: 119,
 308: 388,
 309: 501,
 310: 39,
 311: 190,
 312: 372,
 313: 238,
 314: 124,
 315: 530,
 316: 481,
 317: 41,
 318: 312,
 319: 807,
 320: 98,
 321: 226,
 322: 795,
 323: 379,
 324: 614,
 325: 370,
 326: 186,
 327: 262,
 328: 808,
 329: 416,
 330: 698,
 331: 598,
 332: 8,
 333: 256,
 334: 56,
 335: 225,
 336: 227,
 337: 230,
 338: 619,
 339: 738,
 340: 9,
 341: 12,
 342: 181,
 343: 11,
 344: 685,
 345: 13,
 346: 176,
 347: 244,
 348: 10,
 349: 677,
 350: 192,
 351: 733,
 352: 717,
 353: 624,
 354: 7,
 355: 418,
 356: 367,
 357: 187,
 358: 621,
 359: 381,
 360: 250,
 361: 188,
 362: 173,
 363: 177,
 364: 157,
 365: 335,
 366: 90,
 367: 194,
 368: 776,
 369: 404,
 370: 330,
 371: 480,
 372: 313,
 373: 322,
 374: 239,
 375: 380,
 376: 167,
 377: 618,
 378: 526,
 379: 718,
 380: 264,
 381: 336,
 382: 229,
 383: 550,
 384: 341,
 385: 462,
 386: 166,
 387: 470,
 388: 171,
 389: 245,
 390: 179,
 391: 326,
 392: 240,
 393: 728,
 394: 162,
 395: 224,
 396: 479,
 397: 696,
 398: 216,
 399: 368,
 400: 516,
 401: 525,
 402: 231,
 403: 183,
 404: 669,
 405: 474,
 406: 708,
 407: 316,
 408: 697,
 409: 637,
 410: 626,
 411: 130,
 412: 228,
 413: 241,
 414: 467,
 415: 236,
 416: 113,
 417: 505,
 418: 306,
 419: 408,
 420: 374,
 421: 314,
 422: 356,
 423: 397,
 424: 497,
 425: 596,
 426: 79,
 427: 457,
 428: 252,
 429: 566,
 430: 319,
 431: 151,
 432: 219,
 433: 91,
 434: 185,
 435: 460,
 436: 553,
 437: 573,
 438: 161,
 439: 449,
 440: 48,
 441: 169,
 442: 495,
 443: 595,
 444: 180,
 445: 197,
 446: 682,
 447: 686,
 448: 484,
 449: 485,
 450: 159,
 451: 461,
 452: 318,
 453: 451,
 454: 446,
 455: 575,
 456: 506,
 457: 455,
 458: 168,
 459: 321,
 460: 534,
 461: 666,
 462: 751,
 463: 459,
 464: 150,
 465: 557,
 466: 491,
 467: 320,
 468: 588,
 469: 745,
 470: 234,
 471: 184,
 472: 145,
 473: 431,
 474: 409,
 475: 629,
 476: 632,
 477: 339,
 478: 592,
 479: 468,
 480: 759,
 481: 475,
 482: 111,
 483: 116,
 484: 528,
 485: 196,
 486: 758,
 487: 301,
 488: 257,
 489: 623,
 490: 434,
 491: 429,
 492: 589,
 493: 178,
 494: 164,
 495: 771,
 496: 513,
 497: 476,
 498: 810,
 499: 737,
 500: 29,
 501: 338,
 502: 442,
 503: 445,
 504: 668,
 505: 155,
 506: 744,
 507: 154,
 508: 156,
 509: 439,
 510: 3,
 511: 483,
 512: 64,
 513: 456,
 514: 198,
 515: 153,
 516: 519,
 517: 723,
 518: 342,
 519: 559,
 520: 502,
 521: 500,
 522: 165,
 523: 274,
 524: 535,
 525: 477,
 526: 574,
 527: 441,
 528: 585,
 529: 498,
 530: 537,
 531: 465,
 532: 74,
 533: 503,
 534: 590,
 535: 420,
 536: 443,
 537: 510,
 538: 531,
 539: 794,
 540: 691,
 541: 206,
 542: 444,
 543: 432,
 544: 421,
 545: 87,
 546: 549,
 547: 580,
 548: 521,
 549: 631,
 550: 248,
 551: 492,
 552: 494,
 553: 344,
 554: 548,
 555: 89,
 556: 672,
 557: 551,
 558: 440,
 559: 665,
 560: 376,
 561: 556,
 562: 448,
 563: 488,
 564: 536,
 565: 287,
 566: 760,
 567: 395,
 568: 92,
 569: 493,
 570: 541,
 571: 496,
 572: 317,
 573: 315,
 574: 591,
 575: 160,
 576: 275,
 577: 246,
 578: 375,
 579: 547,
 580: 417,
 581: 768,
 582: 6,
 583: 777,
 584: 809,
 585: 195,
 586: 542,
 587: 427,
 588: 340,
 589: 532,
 590: 343,
 591: 437,
 592: 504,
 593: 489,
 594: 688,
 595: 581,
 596: 490,
 597: 45,
 598: 452,
 599: 558,
 600: 812,
 601: 514,
 602: 191,
 603: 458,
 604: 428,
 605: 1,
 606: 424,
 607: 552,
 608: 508,
 609: 396,
 610: 105,
 611: 478,
 612: 193,
 613: 107,
 614: 564,
 615: 139,
 616: 399,
 617: 539,
 618: 450,
 619: 438,
 620: 454,
 621: 651,
 622: 353,
 623: 436,
 624: 423,
 625: 543,
 626: 544,
 627: 419,
 628: 486,
 629: 511,
 630: 522,
 631: 466,
 632: 813,
 633: 499,
 634: 625,
 635: 373,
 636: 577,
 637: 482,
 638: 743,
 639: 520,
 640: 546,
 641: 658,
 642: 471,
 643: 811,
 644: 667,
 645: 663,
 646: 518,
 647: 366,
 648: 509,
 649: 529,
 650: 469,
 651: 724,
 652: 426,
 653: 94,
 654: 422,
 655: 298,
 656: 635,
 657: 334,
 658: 59,
 659: 99,
 660: 235,
 661: 163,
 662: 538,
 663: 657,
 664: 435,
 665: 524,
 666: 208,
 667: 533,
 668: 560,
 669: 27,
 670: 555,
 671: 687,
 672: 251,
 673: 215,
 674: 447,
 675: 517,
 676: 464,
 677: 774,
 678: 720,
 679: 52,
 680: 237,
 681: 75,
 682: 60,
 683: 453,
 684: 670,
 685: 34,
 686: 554,
 687: 201,
 688: 4,
 689: 273,
 690: 721,
 691: 103,
 692: 545,
 693: 734,
 694: 243,
 695: 147,
 696: 662,
 697: 407,
 698: 656,
 699: 683,
 700: 158,
 701: 576,
 702: 607,
 703: 638,
 704: 148,
 705: 182,
 706: 122,
 707: 727,
 708: 599,
 709: 604,
 710: 715,
 711: 383,
 712: 472,
 713: 690,
 714: 123,
 715: 355,
 716: 260,
 717: 102,
 718: 664,
 719: 754,
 720: 757,
 721: 719,
 722: 425,
 723: 97,
 724: 742,
 725: 108,
 726: 200,
 727: 53,
 728: 5,
 729: 109,
 730: 220,
 731: 49,
 732: 218,
 733: 463,
 734: 365,
 735: 78,
 736: 125,
 737: 285,
 738: 54,
 739: 82,
 740: 572,
 741: 507,
 742: 211,
 743: 106,
 744: 135,
 745: 660,
 746: 587,
 747: 66,
 748: 639,
 749: 540,
 750: 129,
 751: 96,
 752: 170,
 753: 612,
 754: 333,
 755: 749,
 756: 297,
 757: 679,
 758: 487,
 759: 609,
 760: 149,
 761: 712,
 762: 611,
 763: 644,
 764: 127,
 765: 152,
 766: 430,
 767: 311,
 768: 756,
 769: 307,
 770: 247,
 771: 642,
 772: 523,
 773: 18,
 774: 131,
 775: 661,
 776: 134,
 777: 133,
 778: 132,
 779: 753,
 780: 752,
 781: 72,
 782: 350,
 783: 473,
 784: 84,
 785: 761,
 786: 594,
 787: 255,
 788: 140,
 789: 659,
 790: 136,
 791: 352,
 792: 701,
 793: 643,
 794: 80,
 795: 647,
 796: 648,
 797: 571,
 798: 175,
 799: 292,
 800: 714,
 801: 620,
 802: 680,
 803: 741,
 804: 567,
 805: 83,
 806: 562,
 807: 433,
 808: 104,
 809: 739,
 810: 586,
 811: 65,
 812: 515,
 813: 512}

## **Modelo Recomendação**

In [343]:
from scipy.spatial.distance import cdist

In [ ]:
product_frequency = dataset['produto'].value_counts().reset_index()
product_frequency.columns = ['produto', 'frequencia_compra']
product_name_mapping = {idx: product for idx, product in enumerate(product_frequency['produto'])}
product_name_mapping

{0: 713,
 1: 610,
 2: 346,
 3: 640,
 4: 209,
 5: 645,
 6: 726,
 7: 114,
 8: 345,
 9: 725,
 10: 722,
 11: 71,
 12: 222,
 13: 77,
 14: 110,
 15: 117,
 16: 748,
 17: 601,
 18: 309,
 19: 747,
 20: 137,
 21: 674,
 22: 47,
 23: 406,
 24: 120,
 25: 101,
 26: 305,
 27: 70,
 28: 291,
 29: 310,
 30: 410,
 31: 31,
 32: 561,
 33: 348,
 34: 126,
 35: 63,
 36: 354,
 37: 32,
 38: 294,
 39: 100,
 40: 347,
 41: 673,
 42: 51,
 43: 2,
 44: 0,
 45: 73,
 46: 210,
 47: 602,
 48: 33,
 49: 290,
 50: 600,
 51: 634,
 52: 121,
 53: 606,
 54: 613,
 55: 293,
 56: 276,
 57: 750,
 58: 50,
 59: 405,
 60: 783,
 61: 766,
 62: 790,
 63: 603,
 64: 15,
 65: 25,
 66: 636,
 67: 782,
 68: 394,
 69: 789,
 70: 791,
 71: 716,
 72: 214,
 73: 787,
 74: 633,
 75: 26,
 76: 402,
 77: 30,
 78: 19,
 79: 784,
 80: 796,
 81: 781,
 82: 793,
 83: 86,
 84: 385,
 85: 764,
 86: 221,
 87: 801,
 88: 780,
 89: 779,
 90: 798,
 91: 85,
 92: 762,
 93: 802,
 94: 44,
 95: 785,
 96: 799,
 97: 284,
 98: 804,
 99: 67,
 100: 707,
 101: 786,
 102: 258,
 103: 767,
 104: 800,
 105: 803,
 106: 563,
 107: 778,
 108: 279,
 109: 281,
 110: 349,
 111: 146,
 112: 28,
 113: 792,
 114: 16,
 115: 212,
 116: 393,
 117: 57,
 118: 387,
 119: 141,
 120: 391,
 121: 62,
 122: 746,
 123: 805,
 124: 605,
 125: 699,
 126: 68,
 127: 35,
 128: 763,
 129: 213,
 130: 283,
 131: 788,
 132: 17,
 133: 261,
 134: 299,
 135: 400,
 136: 217,
 137: 118,
 138: 386,
 139: 112,
 140: 765,
 141: 115,
 142: 20,
 143: 676,
 144: 709,
 145: 280,
 146: 69,
 147: 389,
 148: 282,
 149: 14,
 150: 351,
 151: 359,
 152: 593,
 153: 303,
 154: 23,
 155: 295,
 156: 363,
 157: 695,
 158: 328,
 159: 655,
 160: 378,
 161: 684,
 162: 675,
 163: 770,
 164: 653,
 165: 730,
 166: 357,
 167: 650,
 168: 300,
 169: 22,
 170: 143,
 171: 358,
 172: 286,
 173: 81,
 174: 360,
 175: 202,
 176: 93,
 177: 269,
 178: 337,
 179: 324,
 180: 253,
 181: 578,
 182: 692,
 183: 61,
 184: 223,
 185: 401,
 186: 731,
 187: 693,
 188: 278,
 189: 254,
 190: 806,
 191: 415,
 192: 24,
 193: 270,
 194: 267,
 195: 597,
 196: 377,
 197: 364,
 198: 652,
 199: 412,
 200: 711,
 201: 649,
 202: 646,
 203: 735,
 204: 689,
 205: 361,
 206: 414,
 207: 362,
 208: 263,
 209: 390,
 210: 144,
 211: 584,
 212: 268,
 213: 740,
 214: 411,
 215: 259,
 216: 266,
 217: 128,
 218: 76,
 219: 392,
 220: 582,
 221: 296,
 222: 705,
 223: 568,
 224: 736,
 225: 703,
 226: 641,
 227: 413,
 228: 627,
 229: 249,
 230: 681,
 231: 232,
 232: 398,
 233: 732,
 234: 710,
 235: 615,
 236: 271,
 237: 628,
 238: 43,
 239: 583,
 240: 42,
 241: 21,
 242: 369,
 243: 205,
 244: 527,
 245: 37,
 246: 233,
 247: 755,
 248: 772,
 249: 308,
 250: 302,
 251: 700,
 252: 331,
 253: 55,
 254: 95,
 255: 565,
 256: 138,
 257: 569,
 258: 332,
 259: 242,
 260: 323,
 261: 329,
 262: 706,
 263: 678,
 264: 608,
 265: 207,
 266: 570,
 267: 277,
 268: 775,
 269: 729,
 270: 36,
 271: 289,
 272: 203,
 273: 189,
 274: 199,
 275: 797,
 276: 265,
 277: 172,
 278: 371,
 279: 630,
 280: 174,
 281: 579,
 282: 769,
 283: 654,
 284: 46,
 285: 704,
 286: 38,
 287: 58,
 288: 142,
 289: 288,
 290: 702,
 291: 773,
 292: 382,
 293: 403,
 294: 694,
 295: 272,
 296: 622,
 297: 88,
 298: 327,
 299: 304,
 300: 204,
 301: 617,
 302: 384,
 303: 325,
 304: 671,
 305: 616,
 306: 40,
 307: 119,
 308: 388,
 309: 501,
 310: 39,
 311: 190,
 312: 372,
 313: 238,
 314: 124,
 315: 530,
 316: 481,
 317: 41,
 318: 312,
 319: 807,
 320: 98,
 321: 226,
 322: 795,
 323: 379,
 324: 614,
 325: 370,
 326: 186,
 327: 262,
 328: 808,
 329: 416,
 330: 698,
 331: 598,
 332: 8,
 333: 256,
 334: 56,
 335: 225,
 336: 227,
 337: 230,
 338: 619,
 339: 738,
 340: 9,
 341: 12,
 342: 181,
 343: 11,
 344: 685,
 345: 13,
 346: 176,
 347: 244,
 348: 10,
 349: 677,
 350: 192,
 351: 733,
 352: 717,
 353: 624,
 354: 7,
 355: 418,
 356: 367,
 357: 187,
 358: 621,
 359: 381,
 360: 250,
 361: 188,
 362: 173,
 363: 177,
 364: 157,
 365: 335,
 366: 90,
 367: 194,
 368: 776,
 369: 404,
 370: 330,
 371: 480,
 372: 313,
 373: 322,
 374: 239,
 375: 380,
 376: 167,
 377: 618,
 378: 526,
 379: 718,
 380: 264,
 381: 336,
 382: 229,
 383: 550,
 384: 341,
 385: 462,
 386: 166,
 387: 470,
 388: 171,
 389: 245,
 390: 179,
 391: 326,
 392: 240,
 393: 728,
 394: 162,
 395: 224,
 396: 479,
 397: 696,
 398: 216,
 399: 368,
 400: 516,
 401: 525,
 402: 231,
 403: 183,
 404: 669,
 405: 474,
 406: 708,
 407: 316,
 408: 697,
 409: 637,
 410: 626,
 411: 130,
 412: 228,
 413: 241,
 414: 467,
 415: 236,
 416: 113,
 417: 505,
 418: 306,
 419: 408,
 420: 374,
 421: 314,
 422: 356,
 423: 397,
 424: 497,
 425: 596,
 426: 79,
 427: 457,
 428: 252,
 429: 566,
 430: 319,
 431: 151,
 432: 219,
 433: 91,
 434: 185,
 435: 460,
 436: 553,
 437: 573,
 438: 161,
 439: 449,
 440: 48,
 441: 169,
 442: 495,
 443: 595,
 444: 180,
 445: 197,
 446: 682,
 447: 686,
 448: 484,
 449: 485,
 450: 159,
 451: 461,
 452: 318,
 453: 451,
 454: 446,
 455: 575,
 456: 506,
 457: 455,
 458: 168,
 459: 321,
 460: 534,
 461: 666,
 462: 751,
 463: 459,
 464: 150,
 465: 557,
 466: 491,
 467: 320,
 468: 588,
 469: 745,
 470: 234,
 471: 184,
 472: 145,
 473: 431,
 474: 409,
 475: 629,
 476: 632,
 477: 339,
 478: 592,
 479: 468,
 480: 759,
 481: 475,
 482: 111,
 483: 116,
 484: 528,
 485: 196,
 486: 758,
 487: 301,
 488: 257,
 489: 623,
 490: 434,
 491: 429,
 492: 589,
 493: 178,
 494: 164,
 495: 771,
 496: 513,
 497: 476,
 498: 810,
 499: 737,
 500: 29,
 501: 338,
 502: 442,
 503: 445,
 504: 668,
 505: 155,
 506: 744,
 507: 154,
 508: 156,
 509: 439,
 510: 3,
 511: 483,
 512: 64,
 513: 456,
 514: 198,
 515: 153,
 516: 519,
 517: 723,
 518: 342,
 519: 559,
 520: 502,
 521: 500,
 522: 165,
 523: 274,
 524: 535,
 525: 477,
 526: 574,
 527: 441,
 528: 585,
 529: 498,
 530: 537,
 531: 465,
 532: 74,
 533: 503,
 534: 590,
 535: 420,
 536: 443,
 537: 510,
 538: 531,
 539: 794,
 540: 691,
 541: 206,
 542: 444,
 543: 432,
 544: 421,
 545: 87,
 546: 549,
 547: 580,
 548: 521,
 549: 631,
 550: 248,
 551: 492,
 552: 494,
 553: 344,
 554: 548,
 555: 89,
 556: 672,
 557: 551,
 558: 440,
 559: 665,
 560: 376,
 561: 556,
 562: 448,
 563: 488,
 564: 536,
 565: 287,
 566: 760,
 567: 395,
 568: 92,
 569: 493,
 570: 541,
 571: 496,
 572: 317,
 573: 315,
 574: 591,
 575: 160,
 576: 275,
 577: 246,
 578: 375,
 579: 547,
 580: 417,
 581: 768,
 582: 6,
 583: 777,
 584: 809,
 585: 195,
 586: 542,
 587: 427,
 588: 340,
 589: 532,
 590: 343,
 591: 437,
 592: 504,
 593: 489,
 594: 688,
 595: 581,
 596: 490,
 597: 45,
 598: 452,
 599: 558,
 600: 812,
 601: 514,
 602: 191,
 603: 458,
 604: 428,
 605: 1,
 606: 424,
 607: 552,
 608: 508,
 609: 396,
 610: 105,
 611: 478,
 612: 193,
 613: 107,
 614: 564,
 615: 139,
 616: 399,
 617: 539,
 618: 450,
 619: 438,
 620: 454,
 621: 651,
 622: 353,
 623: 436,
 624: 423,
 625: 543,
 626: 544,
 627: 419,
 628: 486,
 629: 511,
 630: 522,
 631: 466,
 632: 813,
 633: 499,
 634: 625,
 635: 373,
 636: 577,
 637: 482,
 638: 743,
 639: 520,
 640: 546,
 641: 658,
 642: 471,
 643: 811,
 644: 667,
 645: 663,
 646: 518,
 647: 366,
 648: 509,
 649: 529,
 650: 469,
 651: 724,
 652: 426,
 653: 94,
 654: 422,
 655: 298,
 656: 635,
 657: 334,
 658: 59,
 659: 99,
 660: 235,
 661: 163,
 662: 538,
 663: 657,
 664: 435,
 665: 524,
 666: 208,
 667: 533,
 668: 560,
 669: 27,
 670: 555,
 671: 687,
 672: 251,
 673: 215,
 674: 447,
 675: 517,
 676: 464,
 677: 774,
 678: 720,
 679: 52,
 680: 237,
 681: 75,
 682: 60,
 683: 453,
 684: 670,
 685: 34,
 686: 554,
 687: 201,
 688: 4,
 689: 273,
 690: 721,
 691: 103,
 692: 545,
 693: 734,
 694: 243,
 695: 147,
 696: 662,
 697: 407,
 698: 656,
 699: 683,
 700: 158,
 701: 576,
 702: 607,
 703: 638,
 704: 148,
 705: 182,
 706: 122,
 707: 727,
 708: 599,
 709: 604,
 710: 715,
 711: 383,
 712: 472,
 713: 690,
 714: 123,
 715: 355,
 716: 260,
 717: 102,
 718: 664,
 719: 754,
 720: 757,
 721: 719,
 722: 425,
 723: 97,
 724: 742,
 725: 108,
 726: 200,
 727: 53,
 728: 5,
 729: 109,
 730: 220,
 731: 49,
 732: 218,
 733: 463,
 734: 365,
 735: 78,
 736: 125,
 737: 285,
 738: 54,
 739: 82,
 740: 572,
 741: 507,
 742: 211,
 743: 106,
 744: 135,
 745: 660,
 746: 587,
 747: 66,
 748: 639,
 749: 540,
 750: 129,
 751: 96,
 752: 170,
 753: 612,
 754: 333,
 755: 749,
 756: 297,
 757: 679,
 758: 487,
 759: 609,
 760: 149,
 761: 712,
 762: 611,
 763: 644,
 764: 127,
 765: 152,
 766: 430,
 767: 311,
 768: 756,
 769: 307,
 770: 247,
 771: 642,
 772: 523,
 773: 18,
 774: 131,
 775: 661,
 776: 134,
 777: 133,
 778: 132,
 779: 753,
 780: 752,
 781: 72,
 782: 350,
 783: 473,
 784: 84,
 785: 761,
 786: 594,
 787: 255,
 788: 140,
 789: 659,
 790: 136,
 791: 352,
 792: 701,
 793: 643,
 794: 80,
 795: 647,
 796: 648,
 797: 571,
 798: 175,
 799: 292,
 800: 714,
 801: 620,
 802: 680,
 803: 741,
 804: 567,
 805: 83,
 806: 562,
 807: 433,
 808: 104,
 809: 739,
 810: 586,
 811: 65,
 812: 515,
 813: 512}

In [345]:
dataset = dataset.merge(product_frequency, on='produto', how='left')

In [348]:
def recommend_products(num_recommendations=5):

    dataset_clients_recomend = pd.DataFrame(columns=['email_participante', 'produtos_recomendados']) # o dataset final que será retornado no final
    for client_id in dataset['email_participante']:
        client_cluster = client_agru[client_id]
        cluster_products = np.where(client_agru == client_cluster)[0]
        
        # Filtrar as regras de associação relevantes para o cluster
        relevant_regras = regras[regras['antecedents'].apply(lambda x: any(product in cluster_products for product in x))]
    
        # Calcular as distâncias do usuário para os centróides dos clusters
        client_distances = cdist(dados_agru_two_dim[client_id].reshape(1, -1), centroides, metric='cosine')[0]
        
        # Ordenar os produtos pelo grau de similaridade com os centróides
        recommended_indices = cluster_products[np.argsort(client_distances)]
        
        # Selecionar os produtos recomendados, excluindo os já comprados
        recommended_products = [product_name_mapping[product_idx] for product_idx in recommended_indices if transactions.iloc[client_id][product_idx] == 0]
        
        # Filtrar produtos recomendados com base nas regras de associação
        for rule in relevant_regras.iterrows():
            antecedents = rule[1]['antecedents']
            consequents = rule[1]['consequents']
            
            for antecedent in antecedents:
                for consequent in consequents:
                    if antecedent in recommended_products:
                        recommended_products.remove(antecedent)
                    if consequent in recommended_products:
                        recommended_products.remove(consequent)

        inv_mapping = {v: k for k, v in le_mapping['email_participante'].items()}
        client_email = inv_mapping[client_id]
        # Adicionar cada produto recomendado como uma linha separada no DataFrame
        for recommended_product in recommended_products[:num_recommendations]:
                inv_mapping = {v: k for k, v in le_mapping['produto'].items()}
                product_name  = inv_mapping[recommended_product]
            dataset_clients_recomend = dataset_clients_recomend.append({'email_participante': client_email, 'produto_recomendado': product_name }, ignore_index=True)
        return dataset_clients_recomend

In [349]:
recommend_products = recommend_products()
print("Itens recomendados:", recommend_products)

Itens recomendados: [309, 601, 748]

In [177]:
dataset_2.loc[dataset_2['email_participante'] == 14955, :]['produto']

0    33
Name: produto, dtype: int32

In [350]:
filtered_dataset = dataset[dataset['produto'] == 309]
filtered_dataset

,email_participante,cargo_participante,setor_participante,departamento_participante,gender,cidade_cliente,produto,nome_tipo_produto,idade_participante,unidade_negocio,data_venda,preco_unitario,quantidade_itens_nessa_venda,id_venda,valor_total_venda,unidade_negocio_1,estado_comprador,frequencia_compra
176,45965,3,29,2,0,892,309,75,28.0,2,20878,99000.0,1.0,37840.0,0.0,2,38,1384
250,79411,3,29,2,0,892,309,75,37.0,2,21589,99000.0,1.0,38910.0,0.0,2,38,1384
274,58754,3,29,2,1,262,309,75,32.0,2,21075,269280.0,4.0,38116.0,252719.0,2,23,1384
306,77460,3,29,2,1,741,309,75,50.0,2,20044,99000.0,1.0,36497.0,69300.0,2,27,1384
328,20743,3,29,2,1,892,309,75,47.0,2,21003,99000.0,1.0,38024.0,74250.0,2,38,1384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98992,49350,3,29,2,1,723,309,75,44.0,2,20237,99000.0,3.0,36794.0,175602.0,2,21,1384
99410,35057,4,21,19,1,741,309,75,41.0,2,20175,99000.0,1.0,36705.0,0.0,2,27,1384
100058,48641,12,35,29,1,892,309,75,38.0,2,20661,99000.0,1.0,37470.0,0.0,2,38,1384
100812,76746,4,35,28,1,892,309,75,35.0,2,20245,99000.0,1.0,36803.0,69300.0,2,38,1384
101055,71223,12,21,29,1,892,309,75,36.0,2,21512,99000.0,1.0,38820.0,59400.0,2,38,1384

In [357]:
filtered_dataset = dataset[dataset['produto'] == 748]


col = 'produto'

# Obtendo o mapeamento inverso específico para a coluna 'produto'
inv_mapping = {v: k for k, v in le_mapping[col].items()}

# Aplicando o mapeamento inverso à coluna 'produto'
filtered_dataset[col] = filtered_dataset[col].map(inv_mapping)

C:\Users\40026\AppData\Local\Temp\ipykernel_4032\4035733770.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_dataset[col] = filtered_dataset[col].map(inv_mapping)

In [358]:
filtered_dataset

,email_participante,cargo_participante,setor_participante,departamento_participante,gender,cidade_cliente,produto,nome_tipo_produto,idade_participante,unidade_negocio,data_venda,preco_unitario,quantidade_itens_nessa_venda,id_venda,valor_total_venda,unidade_negocio_1,estado_comprador,frequencia_compra
3,36205,9,17,8,1,892,varejotech-conference-0818,165,40.0,2,15435,99000.0,1.0,29879.0,0.0,2,38,1469
16,72591,9,17,8,1,892,varejotech-conference-0818,165,33.0,2,13188,99000.0,1.0,26419.0,65038.0,2,38,1469
237,66183,9,17,8,1,129,varejotech-conference-0818,165,23.0,2,14890,99000.0,1.0,29014.0,0.0,2,6,1469
301,74069,9,17,8,0,262,varejotech-conference-0818,165,35.0,2,13282,99000.0,1.0,26590.0,65038.0,2,23,1469
302,25942,9,17,8,0,91,varejotech-conference-0818,165,37.0,2,15037,99000.0,1.0,29235.0,84150.0,2,38,1469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102356,60122,4,12,5,1,892,varejotech-conference-0818,165,40.0,2,13863,99000.0,1.0,27468.0,69300.0,2,38,1469
102363,59730,12,12,12,1,262,varejotech-conference-0818,165,30.0,2,13150,99000.0,1.0,26349.0,59400.0,2,23,1469
102371,60136,12,12,3,1,892,varejotech-conference-0818,165,50.0,2,15915,99000.0,1.0,30498.0,100625.0,2,38,1469
102644,70674,9,17,8,1,892,varejotech-conference-0818,165,39.0,2,14790,99000.0,19.0,28865.0,0.0,2,38,1469
102645,70674,9,17,8,1,892,varejotech-conference-0818,165,39.0,2,14791,99000.0,19.0,28866.0,0.0,2,38,1469